<!--<!DOCTYPE web-app PUBLIC-->
<!-- "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"-->
<!-- "http://java.sun.com/dtd/web-app_2_3.dtd" >-->

<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.liba.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>


  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.liba.controller.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>
      com.liba.controller.listener.SessionListener
    </listener-class>
  </listener>

</web-app>